.maincard{
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}

.p-card{
    border: 1px solid red;
    width: 400px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.p-card img {
    height: 150px ;
    padding: 20px;
    width: 150px;
}
span{
    font-weight: 800;
}
.card:hover{
    transform: scale(1.1);
    
}